<% @pet.each do |pet|%>
<div class="card" style="width: 18rem;">
<%= image_tag pet.avatarPets %>
  <div class="card-body">
    <h5 class="card-title"><%= pet.name %></h5>
    <p class="card-text">Age:<%= pet.Age%></p>
    <p class="card-text">Weith:<%= pet.weith%></p>
    <p class="card-text">Owner:<%= pet.OwnerPets %></p>
    <p class="card-text">Phone number Owner:<%= pet.PhoneNumberOwnerPets %></p>
    <a href="<%= link_to pet_path(pet.id), class:"btn btn-primary"%>" class="btn btn-primary">detail</a>
  </div>
</div>
<% end %>