<%= link_to 'new-Doctor', newDoctor_path ,class: 'btn btn-info'%>
<%= link_to 'Go-Pets', indexPets_path ,class: 'btn btn-info'%>
<%= link_to 'sign-Out', destroySessions_path ,class: 'btn btn-danger'%>
<% @doctor.each do | doctor |%>
<div class="card" style="width: 18rem;">
<%= image_tag doctor.avatarDr %>
  <div class="card-body">
    <h5 class="card-title"><%= doctor.name %></h5>
    <p class="card-text">Age:<%= doctor.Age%></p>
    <%= link_to doctor.name, showDoctor_path(doctor.id), class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
